<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" rel="stylesheet" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto&subset=latin,devanagari" rel="stylesheet" crossorigin="anonymous" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../css/animation.css">
    <body class="welcome"></body>
        <span id="splash-overlay" class="splash"></span>
        <span id="welcome" class="z-depth-4"></span>
        <main class="valign-wrapper">
          <span class="container grey-text text-lighten-1 ">
      
            <p class="flow-text">Welcome to</p>
            <h1 class="title grey-text text-lighten-3">Artlogic Dashboard</h1>
      
            <blockquote class="flow-text">A place to manage ur website ..</blockquote>
          </span>
        </main>
        
        <script>
    var delayInMilliseconds = 3000; //3 second

setTimeout(function() {
    window.location.replace("http://localhost:63342/ArtLogic2/view/charts.html?_ijt=te8l1k9vi20j48kt4r7q28u0as");

}, delayInMilliseconds);
        </script>
        